@use '@src/styles/vars' as *;

.card {
	max-width: 380px;
	flex: 1 1 320px;
}

.title {
	margin-bottom: 1rem;
}

.paragraph {
	margin-bottom: 2.5rem;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: $rounded-m;
	background-color: $bg-primary;
	gap: 1rem;
}

.box {
	flex: 0 0 64px;
}

@media (max-width: $breakpoint-sm) {

	.banner_paragraph {
		max-width: 160px;
	}

	.box {
		height: 56px;
		flex-basis: 56px;
	}

	.qr {
		height: 56px;
		flex-basis: 56px;
	}
}
