@use '@src/styles/vars' as *;

.main {
	min-height: calc(100vh - $header-height);
	padding-top: 3rem;
}

.primary {
	background-color: $bg-primary;
}

.secondary {
	background-color: $bg-secondary;
}
