@use '@src/styles/vars' as *;

.form {
	max-width: 100%;
}

.total {
	display: grid;
	width: 100%;
	gap: 1rem;
	text-align: right;
}

.button_group {
	justify-content: space-between;
	gap: 1.5rem;
}

.mobile_button {
	margin: 1.5rem 0 2rem;
	
}

@media (max-width: $breakpoint-sm) {
	
	.total {
		text-align: left;
	}
}


