@use '@src/styles/vars' as *;

.form {
	max-width: 500px;
	height: 494px;
	flex: 1 0 420px;
	padding: 2rem 4.5rem;
	border-radius: $rounded-xl;
	background-color: $bg-primary;
}


.header {
	text-align: center;
}

.content {
	display: grid;
	margin-top: 24px;
	gap: 1.5rem;
}

.spinner {
	margin-top: 120px;
}

.tabs_list {
	box-shadow: 0 -2px 8px #0000001f;
}

.tabs_content {
	overflow: scroll;
	max-height: 372px;
	border-radius: $rounded-sm;
	margin-top: 0.5rem;
	background-color: $bg-primary;
	box-shadow: 0 2px 8px #0000002b;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
