@use './fonts';

html {
	font-size: clamp(11px, 2.5vw, 16px);
}

* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-family: Inter, serif;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
