// Font size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-xl: 20px;
$text-2xl: 24px;
$text-5xl: 48px;

// Font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Text color
$text-primary: #141c24;
$text-secondary: #344051;
$text-tertiary: #637083;
$text-invert: #fff;
$text-quartenery: #97a1af;
$border-light: #ced2da;
