// Font size
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-5xl: 3rem;

// Font weight
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Text color
$text-primary: #141c24;
$text-secondary: #344051;
$text-tertiary: #637083;
$text-invert: #fff;
$text-quartenery: #97a1af;
$border-light: #ced2da;

// Line height
$lh-xs: 1rem;
$lh-sm: 1.25rem;
$lh-base: 1.5rem;
$lh-2xl: 2rem;
$lh-5xl: 3.5rem;

// Background
$bg-primary: #fff;
$bg-secondary: #f3f4f6;
$bg-tertiary: #f0f6ff;
$bg-brand: #1975ff;

// Header
$header-height: 84px;

// Rounded
$rounded-sm: 8px;
$rounded-m: 16px;
$rounded-xl: 24px;
