@use '@src/styles/vars.scss' as *;

.page {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 1.5rem 5rem;
}

@media (max-width: $breakpoint-md) {

	.page {
		display: grid;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}
}
