@use '@src/styles/vars' as *;

.root {
	background-color: transparent;
}

.list {
	display: flex;
	padding: 0.125rem;
	border-radius: $rounded-m;
	background-color: $bg-secondary;
	font-size: $text-sm;
}

.trigger {
	width: 100%;
	padding: 0.625rem 1rem;
	border-radius: calc($rounded-m - 0.125rem); // list-radius - list padding
	margin-top: 0;
	background-color: $bg-secondary;
	color: $text-tertiary;
	cursor: pointer;

	&[data-state='active'] {
		background-color: $bg-primary;
		color: $text-primary;
	}
}

.content {
	padding: 0.5rem;
	background-color: $bg-primary;
}
